#users-freinds{
    flex-grow: 1;
    background: var(--header-dark);
    padding-left: 2rem;
    padding-right: 2rem;

    & > hr{
        margin-top: 2rem;
    }
    
    & > h1{
        color: var(--white)
    }

    & > .smiley{
        font-size: 6rem;
    }

    & > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & > li{
            width: 100%;
            text-align: center;
            background-color: var(--main);
            margin: 1rem auto;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & > a{
                font-size: 1.5rem;
                color: var(--white);
                
                & > img{
                    width: 35px;
                }
            }
        }
    }
}