<link rel="stylesheet" href="/css/check_mail_styles.css">
<div class="checkmail">
    <h1>Check your email to reset password</h1>
    <p>Go to
        <a href="/">
            <span>Home Page</span>
            <span><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i></span> 
        </a>
    </p>
</div>