<style>
    body{
        background-color: blueviolet;
    }
</style>

<h1>Home Page</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form id="new-post-form" method="POST" action="">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Post">
    </form>
</section>