<link rel="stylesheet" href="/css/home_styles.css">
<section id="users-posts-comments">
    <h1>Home Page</h1>

    <section id="feed-posts">
        <% if (locals.user) { %>
            <h2><%= user.name%>'s posts</h2>
        <% } %>
    
        <%- include('partials/_post'); -%>
    </section>
</section>


<%- include('partials/_sidebar'); -%>

<script src="/scripts/posts_comments.js"></script>
<script src="/scripts/home_posts.js"></script>