<link rel="stylesheet" href="/css/sign_styles.css" />

<div class="container">
  <div class="local-google-container">
    <form action="/users/reset-pwd" method="post" class="signup-form">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter Email"
        required
      />
      
      <input type="submit" id="submit-btn" value="Send Mail" />
    </form>
    <hr/>
    
  </div>
  <div class="images">
    <figure>
      <img src="/images/forgot-pwd.jpg" alt="signup-img" />
    </figure>
  </div>
</div>
