<link rel="stylesheet" href="/css/sign_styles.css">

<div class="container">
    <form action="/users/create" method="POST" class="signup-form">
        <input type="text" name="name" id="name" placeholder="Enter Name" required>
        <input type="email" name="email" id="email" placeholder="Enter Email" required>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" id="submit-btn" value="Signup">
    </form>
    <div class="images">
        <figure>
            <img src="/images/signup.jpg" alt="signup-img">
        </figure>
    </div>
</div>