nav {
  position: sticky;
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100%;
  max-height: 15vh; }

nav ul {
  list-style-type: none;
  background-color: var(--header-dark);
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-height: inherit; }
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    text-transform: capitalize; }
  nav ul .logout-btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--header-dark); }
